link(rel="stylesheet", href="/public/e_estilos_vistas/nav_menu.css")

div(class="row navegador")
    div(class="col-2 align-self-center")
        ul(class="nav justify-content-center") 
            li(Class="nav-item m-1 align-self-center")
                a(class="", href='/home') 
                    img(class="logo img-fluid", src="public/iconos/logo.svg")

    div(class="col-10 barra")

        div(class="col  pb-2 pt-2 d-none d-lg-block")
           ul(class="nav justify-content-end iconos") 
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/facebook.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/youtube.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/whatsapp.svg")

        div(class="col  pb-1 pt-2 pb-md-0 pt-md-4 pb-lg-2 pt-lg-0")
           ul(class="nav justify-content-end opciones") 
                li(Class="nav-item opcion d-none d-md-block")
                    a(class="nav-link", href='/home')  Home
                li(Class="nav-item ml-2 opcion d-none d-md-block")
                    a(class="nav-link", href='/menu') Menú
                li(Class="nav-item ml-2 opcion d-none d-md-block")
                    a(class="nav-link", href='/home') Servicios
                li(Class="nav-item ml-2 opcion d-none d-md-block")
                    a(class="nav-link", href='/home') Contactos
                li(Class="nav-item ml-2 opcion d-none d-md-block")
                    a(class="nav-link", href='/home') Nosotros
                li(Class="nav-item ml-2 opcion")
                    a(class="nav-link", href='/acceso') 
                        img(class="ico_usuario", src="public/iconos/usuario.svg")
                li(Class="nav-item ml-2 opcion")

            
