link(rel="stylesheet", href="/public/e_estilos_vistas/pie_pagina.css")


div.container-fluid.p-4.contenedor_pie
    div.row
        .col-12.col-md-2.align-self-center
            ul(class="nav justify-content-start iconos") 
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico1", src="public/iconos/facebook.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico1", src="public/iconos/youtube.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico1", src="public/iconos/whatsapp.svg")
        .col-12.col-sm-3.col.md-3.align-self-center.mt-3(style="text-align: center;")
            div
                a(href="").texto_pie condiciones y restricciones 
        .col-12.col-sm-4.col-md-3.align-self-center.mt-3(style="text-align: center;")
            img.d-none.d-sm-inline-block.img-fluid(src="/public/iconos/telefono.svg", alt="",style="width: 24px; margin-right: 1em;")
            a(href="").texto_pie Teléfono: (064) 4654656
        .col-12.col-sm-5.col-md-4.align-self-center.mt-3(style="text-align: center;")
            img.d-none.d-sm-inline-block.img-fluid(src="/public/iconos/direccion.svg", alt="",style="width: 24px; margin-right: 1em;")
            a(href="").texto_pie Avenida Bolognesi Pilcomayo-Huancayo

