
form.row.justify-content-center.acceso_content.mt-4
    .form-group.col-12.mt-3.col-sm-6.col-md-5
        label(for='exampleInputEmail1') Correo electrónico:
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Ingrese su correo')
        
    .form-group.col-12.mt-3.col-sm-6.col-md-5
        label(for='exampleInputPassword1') Contraseña:
        input#exampleInputPassword1.form-control(type='password', placeholder='Contraseña')
        small Olvidé mi contraseña
    
    button(type="submit").col-10.col-sm-6.btn.mt-4.btn_iniciar_sesion Iniciar sesión 
form.row.justify-content-center.inicio_sesion_content.mt-1.mb-2.mt-sm-3
    button(type="submit").col-10.col-sm-6.col-md-4.btn.mt-1.mt-sm-4.btn_iniciar_sesion_google 
        img(src="/public/iconos/google.svg", alt="", style="width: 20px;color: #F2F2F2;").mr-3
        span Google 


                             